<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant_path(restaurant) do %>
        <h3><%= restaurant.name %></h3>
      <% end %>
      <%= link_to "Edit this Restaurant", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete this Restaurant", restaurant_path(restaurant), method: 'delete' %>
    </li>
  <% end %>
</ul>
